body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #faf7ec !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container1 {
    background-image: url('img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

    .container1 h1 {
        font-size: 5rem;
        color: black;
    }

    .container1 p {
        font-size: 3rem;
        color: black;
    }

    .container1 button {
        font-size: 2rem;
    }